 
  img {
        max-width: 100%;
    
  }

#mafia-logo-hidden {
  
  display: none;
}


#timeline-hidden {
  
  display: none;
}


.nav {
	background: #e3e3e3;
	padding: 15px;
	position: fixed; /*left: 50%;*/
	width: 100%;
	top: 20px;
	z-index: 9;
}
.nav .logo {
  display: inline-block;
  font-size: 25px;
  color: #2f2d2d;
  font-weight: bold;
  text-transform: capitalize;
}
.nav ul {
  margin: 0;
  padding: 0;
  float: right;
}
.nav li{
	list-style: none;
	display: inline-block;
}
.nav a {
	padding: 7px 20px;
	border-radius: 7px;
	margin-right: 10px;
	background: rgba(255, 255, 255, 0.5);
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	text-decoration: none;
	color: black;
	font-family: sans-serif, arial;
	font-weight: 100;
}
.nav a.active {
	background: #000;
	color: white;
}
.nav a:hover {
	background: #000;
	color: #fff;
}